<p>EVENTS</p>

<div class="container">
  <div class="row">
    <div class="col">
      <img src="../../../assets/images/event1.webp" />
    </div>
    <div class="col"><img src="../../../assets/images/event2.jpg" /></div>
    <div class="col"><img src="../../../assets/images/event3.webp" /></div>
    <div class="col"><img src="../../../assets/images/event4.webp" /></div>
    <div class="col"><img src="../../../assets/images/event5.jpeg" /></div>
    <div class="col"><img src="../../../assets/images/event6.jpeg" /></div>
    <div class="col"><img src="../../../assets/images/event7.jpeg" /></div>
    <div class="col"><img src="../../../assets/images/event8.webp" /></div>
  </div>
</div>
