<div class="ticketbooking">
  <div class="movie-container">
    <label>choose movie: </label>
    <select name="" id="select-movie">
      <option>Mission Impossible</option>
      <option>John Wick</option>
      <option>Mad Max</option>
      <option>Fast X</option>
      <option>Transformers: One</option>
      <option>The Marvels</option>
      <option>Deadpool 3</option>
      <option>Aquaman and the Lost Kingdom</option>
      <option>Blade</option>
      <option>Venom</option>
      <option>Oppenheimer</option>
    </select>
  </div>
  <div class="seat-container">
    <div class="screen1"></div>
    <div class="row">
      <div class="seat">1</div>
      <div class="seat">2</div>
      <div class="seat">3</div>
      <div class="seat">4</div>
      <div class="seat">5</div>
      <div class="seat">6</div>
      <div class="seat">7</div>
      <div class="seat">8</div>
      <div class="seat">9</div>
    </div>
    <div class="row">
      <div class="seat">1</div>
      <div class="seat">2</div>
      <div class="seat">3</div>
      <div class="seat">4</div>
      <div class="seat">5</div>
      <div class="seat">6</div>
      <div class="seat">7</div>
      <div class="seat">8</div>
      <div class="seat">9</div>
    </div>
    <div class="row">
      <div class="seat">1</div>
      <div class="seat">2</div>
      <div class="seat">3</div>
      <div class="seat">4</div>
      <div class="seat">5</div>
      <div class="seat">6</div>
      <div class="seat">7</div>
      <div class="seat">8</div>
      <div class="seat">9</div>
    </div>
    <div class="row">
      <div class="seat">1</div>
      <div class="seat">2</div>
      <div class="seat">3</div>
      <div class="seat">4</div>
      <div class="seat">5</div>
      <div class="seat">6</div>
      <div class="seat">7</div>
      <div class="seat">8</div>
      <div class="seat">9</div>
    </div>
    <div class="screen2"></div>
    <div class="row">
      <div class="seat1">1</div>
      <div class="seat1">2</div>
      <div class="seat1">3</div>
      <div class="seat1">4</div>
      <div class="seat1">5</div>
      <div class="seat1">6</div>
      <div class="seat1">7</div>
      <div class="seat1">8</div>
      <div class="seat1">9</div>
    </div>
    <div class="row">
      <div class="seat2">1</div>
      <div class="seat2">2</div>
      <div class="seat2">3</div>
      <div class="seat2">4</div>
      <div class="seat2">5</div>
      <div class="seat2">6</div>
      <div class="seat2">7</div>
      <div class="seat2">8</div>
      <div class="seat2">9</div>
    </div>
    <div class="row">
      <div class="seat3">1</div>
      <div class="seat3">2</div>
      <div class="seat3">3</div>
      <div class="seat3">4</div>
      <div class="seat3">5</div>
      <div class="seat3">6</div>
      <div class="seat3">7</div>
      <div class="seat3">8</div>
      <div class="seat3">9</div>
    </div>
    <div class="row">
      <div class="seat4">1</div>
      <div class="seat4">2</div>
      <div class="seat4">3</div>
      <div class="seat4">4</div>
      <div class="seat4">5</div>
      <div class="seat4">6</div>
      <div class="seat4">7</div>
      <div class="seat4">8</div>
      <div class="seat4">9</div>
    </div>
  </div>
  <button type="button" class="btn btn-danger">Book Ticket</button>
</div>
